*{
    margin: 0;
}
body{
    padding-top: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 46, 46);
    
}

section{
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    
}
main{
    padding: 20px;
    border: 1px white solid;
}
form h1{
    color: orange;   
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}


form #result input{
 width: 331px;
 height: 50px;
 margin-bottom: 1px;
 border: none;
 cursor: pointer;
}

form .linhas input{
    width: 80px;
    height: 50px;
    margin: 3px 0;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

form .linhas input:hover{
    background-color: teal;
}

form .linhas input:last-child{
    background-color: orange;
}

form .linhas input:last-child:hover{
    background-color: teal;
}
